<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <h2>Basic Package</h2>
          <div class="type"><b>Free</b></div>
          <div class="paragraphs">
            <p>5 properties included</p>
            <p>12 months duration</p>
            <p>-</p>
            <p>-</p>

            <button>Get Started</button>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <h2>Standard</h2>

          <div class="type">
            <b>$ 25</b>
            /month* full payment: $ 150
          </div>
          <!-- <div class="paragraphs"> -->
          <p>8 properties included</p>
          <p>6 months duration</p>
          <p>24/7 Support</p>
          <p>-</p>
          <!-- </div> -->
          <button>Get Started</button>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" id="card-plus">
          <div class="star">&star;</div>
          <h2>Standard Plus</h2>
          <div class="type">
            <b>$ 35</b>
            /month* full payment: $420
          </div>
          <p>10 properties included</p>
          <p>12 months duration</p>
          <p>24/7 Support</p>
          <p>-</p>
          <button>Get Started</button>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <h2>Advanced</h2>
          <div class="type">
            <b>$ 50</b>
            /month* full payment: $ 600
          </div>
          <p>Unlimited properties included</p>
          <p>12 months duration</p>
          <p>24/7 Support</p>
          <p>Pro Features</p>
          <button>Get Started</button>
        </div>
      </div>
    </div>
  </div>
</div>
