<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="image-container">
            <div class="date">13.March.2023</div>
            <img
              src="../../../../../assets/image/HomePage/blog-compact-img1.jpg"
              alt="blog-compact-img1"
            />
          </div>
          <div class="small-paragraph">
            <a href="1"> PROPERTY </a><span>- By </span
            ><a href="2">Julie Coleman</a>
          </div>
          <div class="main">
            <span>How to Find a Good Real Estate Agent</span>
          </div>
          <div class="paragraph-content">
            <p>
              Ea cibo choro eos, in duo iudico eirmod. Qui modus meliore ex, has
              in decore virtute repudiare. An summo persequeris contentiones
              nec, ex sit modus
            </p>
          </div>
          <div class="read">
            <a href="1">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="image-container">
            <div class="date">13.March.2023</div>
            <img
              src="../../../../../assets/image/HomePage/blog-compact-img2.jpg"
              alt="blog-compact-img1"
            />
          </div>
          <div class="small-paragraph">
            <a href="1"> PROPERTY </a><span>- By</span
            ><a href="2">Julie Coleman</a>
          </div>

          <div class="main">
            <span>How to Find a Good Real Estate Agent</span>
          </div>

          <div class="paragraph-content">
            <p>
              Ea cibo choro eos, in duo iudico eirmod. Qui modus meliore ex, has
              in decore virtute repudiare. An summo persequeris contentiones
              nec, ex sit modus
            </p>
          </div>

          <div class="read">
            <a href="1">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card">
          <div class="image-container">
            <div class="date">13.March.2023</div>
            <img
              src="../../../../../assets/image/HomePage/blog-compact-img3.jpg"
              alt="blog-compact-img1"
            />
          </div>
          <div class="small-paragraph">
            <a href="1"> PROPERTY </a><span>- By</span
            ><a href="2">Julie Coleman</a>
          </div>

          <div class="main">
            <span>How to Find a Good Real Estate Agent</span>
          </div>

          <div class="paragraph-content">
            <p>
              Ea cibo choro eos, in duo iudico eirmod. Qui modus meliore ex, has
              in decore virtute repudiare. An summo persequeris contentiones
              nec, ex sit modus
            </p>
          </div>

          <div class="read">
            <a href="1">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="header-content">
    <h2>
How to Find a Good Real Estate Agent
</h2>
</div> -->

<!-- <div class="paragraph-content">
    <p>
        Ea cibo choro eos, in duo iudico eirmod.
        Qui modus meliore ex, has in decore virtute repudiare.
        An summo persequeris contentiones nec, ex sit modus
    </p>
</div> -->

<!-- <div class="read">
    <a href="1">Read More</a>
</div> -->
